.cards-container{
    box-sizing: border-box;
    background-color: cadetblue;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;

}


.card{
    margin-top: 20px;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 200px;
    min-height: 300px;


}
.card:hover{
    box-shadow: -4px 5px 51px -1px hwb(182 20% 52%);
    transition: 0.3s all ease-in-out;

}


.card img{
    width: 100%;
    cursor: pointer;
}
.card > div{
text-align: center;   
padding: 10px 0 ;
font-size: large;
 

}
@media screen and (max-width: 1440px) {
    .cards-container{
        grid: auto-flow / 1fr 1fr 1fr 1fr;
    }
    
    .card > div{ 
    padding: 10px 0 ; 
    }
  
}
@media screen and (max-width: 960px) {
    .cards-container{
        grid: auto-flow / 1fr 1fr 1fr ;
    }
    
    .card > div{ 
    padding: 10px 0 ; 
    }
}

@media screen and (max-width: 575px) {
    .cards-container{
        grid: auto-flow / 1fr 1fr ;
    } 
}

@media screen and (max-width: 375px) {
    .cards-container{
        grid: auto-flow / 1fr ;
    }
}

